/* styles.scss */

.btn-logout {
  border-color: #dc3545; /* Red border color */
  color: #dc3545; /* Red text color */
}

.btn-logout:hover {
  background-color: #dc3545; /* Red background color on hover */
  color: white; /* White text color on hover */
}
